# VacationPy
----

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame

In [2]:
df = pd.read_csv('cities.csv')
df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,bredasdorp,-34.5322,20.0403,43.92,93,5,5.75,ZA,1627707097
1,ndioum,16.5129,-14.6471,80.42,68,86,14.63,SN,1627707097
2,mazagao,-0.1150,-51.2894,82.45,96,39,1.95,BR,1627707098
3,arraial do cabo,-22.9661,-42.0278,63.82,64,87,15.26,BR,1627707098
4,salinas,36.6777,-121.6555,65.57,85,90,11.50,US,1627707086

### Humidity Heatmap

In [3]:
#configue maps 
gmaps.configure(api_key=g_key)

In [16]:
#Use the Lat and Lng as locations and Humidity as the weight.
#Add Heatmap layer to map.
loc=df[['Lat','Lng']]
humidity=df['Humidity']
fig=gmaps.figure(center=(46,10),zoom_level=2)
heat_layer=gmaps.heatmap_layer(loc,weights=humidity,dissipating=False,max_intensity=300,point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
hotels = df[(df['Max Temp']>70)&(df['Max Temp']<80)&(df['Wind Speed']<10)&(df['Cloudiness']==0)]
hotels

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
68,florence,43.7667,11.2500,73.54,74,0,2.30,IT,1627707127
159,nalut,30.3333,10.8500,79.75,20,0,8.70,LY,1627707165
175,grozesti,44.6500,23.3167,71.55,58,0,3.24,RO,1627707171
230,semey,50.4111,80.2275,75.42,25,0,6.71,KZ,1627707195
381,fez,34.0372,-4.9998,71.85,68,0,5.75,MA,1627707265
409,kocevje,45.6433,14.8633,70.81,73,0,3.02,SI,1627707278
441,mantua,45.1667,10.7833,75.74,87,0,1.99,IT,1627707292
464,ambilobe,-13.2000,49.0500,74.73,53,0,5.61,MG,1627707305
473,novikovo,51.1537,37.8879,74.05,60,0,5.48,RU,1627707309
477,palestine,31.9216,35.2033,76.95,42,0,2.68,PS,1627707311
515,pitsunda,43.1592,40.3378,73.58,72,0,2.19,GE,1627707329
521,zyryanovsk,49.7386,84.2719,75.47,34,0,4.38,KZ,1627707331
553,schitu-duca,47.0333,27.7667,73.65,83,0,2.30,RO,1627707345

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df =hotels[['City', 'Country', 'Lat', 'Lng']].copy()

In [7]:
hotel_df['Hotel Name'] = ''

In [8]:
hotel_df

            City Country      Lat      Lng Hotel Name
68      florence      IT  43.7667  11.2500
159        nalut      LY  30.3333  10.8500
175     grozesti      RO  44.6500  23.3167
230        semey      KZ  50.4111  80.2275
381          fez      MA  34.0372  -4.9998
409      kocevje      SI  45.6433  14.8633
441       mantua      IT  45.1667  10.7833
464     ambilobe      MG -13.2000  49.0500
473     novikovo      RU  51.1537  37.8879
477    palestine      PS  31.9216  35.2033
515     pitsunda      GE  43.1592  40.3378
521   zyryanovsk      KZ  49.7386  84.2719
553  schitu-duca      RO  47.0333  27.7667

In [11]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]